{
	"defaultConfig": {
		"buildType": "develop",
		"libraryDir": "library/"
	},
	"buildDirs": [
		{
			"dir": "script/",
			"targetSource": "main.js"
		}
	],
	"compile": [
		{
			"sourceType": "launcher",
			"path": "launcher.js"
		},
		{
			"sourceType": "mod",
			"path": "main.js"
		}
	],
	"resources": [
		{
			"resourceType": "resource",
			"path": "resources/"
		}
	]
}
